@import "nib"
gris_oscuro = #333333
gris_claro = #818181


body
	font-size 16px
	font-family 'Raleway', sans-serif
figure
	margin 0
	
.autor
	color gris_claro
	
a
	text-decoration none
.boton-menu
	color gris_oscuro
	margin-top -8px	
	position absolute
	top 50%
	left 10px
.border-arriba
	border-top 2px solid gris_claro
.container
	padding 1.4rem
	font-size 0
	text-align center
	
.header
	height 3.5rem
	position relative
	border-bottom 2.5px solid gris_claro
	.title
		text-align center
		color gris_oscuro
		font-size 1.1rem
		line-height 3.5rem
		
.image
	position relative
	img
		width 100%
.menu
	display none

.name
	color gris_oscuro

.description
	.name
		margin-bottom 0.2em
	.autor
		margin-top 0
	
.playing
	//display none
	&.small
		width 20em
		
.play
	padding 1.2rem 0 0 0
	.action
		color gris_oscuro
		margin-right 0.5rem

.progress
	text-align center
	.total
		height 5px
		background gris_claro
		width 77%
		margin-top 5px
		display inline-block
	.state
		height 5px
		background red
		width 30%
		position relative
		animation 10s moveline infinite linear
		


	.circulo
		width 10px
		height 10px
		background black
		border-radius 50%
		position absolute
		right 0
		top -2px
		animation 1s movecircle infinite 
	
@keyframes moveline
	0%
		width 0%
	100%
		width 100%
		
@keyframes movecircle
	0%
		transform scale(1)
		
	100%
		transform scale(1.7)
		opacity 0.3	
.center-block
	margin 0 auto
.center-text
	text-align center
		

.song //articulo
	width 8rem
	display inline-block
	font-size 1rem
	margin 0 1rem 1rem 0
	text-align left
	&:nth-child(even)
		margin-right 0
	p 
		margin .5rem 0
	&:hover
		cursor pointer

.image
	.actions
		
		text-align right
		margin-bottom .3rem
		position absolute
		bottom 0
		right 0
		left 0
		.action
			margin-right 1rem
			color white
			
			&:last-child
				margin-right 0.4em
form
	display inline-block
	position relative
	.lupa
		position absolute
		top 0.9rem
		left .5rem
		padding 0 1rem 0 0
		border-right 1px solid gris_oscuro
		
.search
	margin-right 1rem				
.input
	border 1px solid gris_oscuro
	height 2.5rem
	border-radius 5px
	padding 0 1em 0 3em
	
.discografia
		display none
	.logo
		display none	
@media screen and (min-width:480px)
	
	.song
		&:nth-child(even)
			margin-right 1em
			
	.playing
		&.medium
			width 100%
			
	.discografia
		display none
	.logo
		display none
			
@media screen and (min-width:1024px)
	body
		background #F5F5F5
	.boton-menu
		display none
	.header
		overflow hidden
		height auto
		.title
			display none
		.logo
			display block
			background white
			padding 2em 0
			.logo-img
				float left
				img
					width 80px
					height 40px
			.search
			.user
				float right
			.wrap
				width 85%
				margin-bottom 2rem
				.avatar
					display inline-block
					img
						width 40px
						height 40px
						border-radius 50%
				.usuario
					display inline-block
					vertical-align top
					color gris_claro
					margin-left .5rem
	.menu
		display block
		//overflow hidden
		.list
			
			
			margin 0
			padding 0
			.item
				
				float left
				list-style none
				padding 1em
				a
					color gris_oscuro
					padding 1em
					border-top 5px solid transparent
					&:hover
						cursor pointer
						border-top 2px solid gris_oscuro
	
	.music
		//width 35rem
		overflow hidden
		padding 0 9em
		.image
			height 300px
			img
				height 100%
	.playing
		.discografia
			display block
			float right	
			margin-right 5rem
			border-left 1px solid gris_claro
			padding-left 1em		
			ul
				margin 0
				padding 0
				li
					list-style none
					border-bottom 1px solid gris_oscuro
					margin-top 1.2em
					.name-list
						
						margin-right 3rem
					.ubder
						float right
					.suena:hover
						cursor pointer
						
					a
						text-decoration none
						color black
						margin-right .3em
						&:last-child
							margin-right 0
						&:first-child
							margin-left 2rem
						
				
							
							
							
				